

<nav class="navbar navbar-expand flex-md-row navbar-dark bg-dark fixed-top">
    <div class="container justify-content-between">
        <a href="{% url 'users:home' %}" class="navbar-brand">orton</a>
        <ul class="navbar-nav mr-md-2">
            {% if request.user.is_authenticated %}
            <li class="nav-item"><a class="nav-link" href="{% url 'users:profile' request.user.id %}">{{ request.user.username }}</a></li>
            <li class="nav-item">
                <form action="{% url 'account_logout' %}" method="post" style="display:inline;">
                    {% csrf_token %}
                    <a class="nav-link" href="#" onclick="this.closest('form').submit();">ログアウト</a>
                </form>
            </li>
            {% else %}
            <li class="nav-item"><a class="nav-link" href="{% url 'account_login' %}">ログイン</a></li>
            {% endif %}
        </ul>
    </div>
</nav>
<div style="height: 56px;"></div>
