{% extends 'base.html' %}
{% load static %}


{% block title %}
【Librite】
{% endblock title %}s

{% block content %}
<h2>ようこそ</h2>
<a
    href="{% url 'posts:upload_video'%}"
>
    動画撮影
</a>
<a
href="{% url 'posts:video_list'%}"
>
    動画一覧
</a>
<a
href="{% url 'posts:video_map'%}"
>
地図
</a>
<a
href="{% url 'posts:video_map_api'%}"
>
地図API
</a>

<h1> 概要 </h1>
<p>Libriteは、動画を撮影し、地図上に投稿できるSNSです．</p>
<p>スマホでの使用を想定しています．</p>
<p>動画撮影のためにカメラ，マイクへのアクセスを要求します．</p>
<p>地図上に記録するために位置情報の取得を要求します．</p>
{% endblock content %}