{% extends 'base.html' %}
{% load static %}


{% block title %}
【Librite】
{% endblock title %}s

{% block content %}
    <h2>{{ user.username }}さんのページ</h2>
    <a
        href="{% url 'posts:upload_video'%}"
    >
        動画撮影
    </a>
    {% for video in videos %}
        <div>
            <video width="300" height="169" controls poster="{{ video.thumbnail_file.url }}">
                <source src="{{ video.video_file.url }}" type="video/mp4">
                Your browser does not support the video tag.
            </video>
            <p>{{ video.user.username }} - {{ video.uploaded_at }}</p>
        </div>
        <a href="{% url 'posts:video_detail' video.id %}">詳細</a>
        <p>------------------------------------</p>
    {% endfor %}
{% endblock content %}

