<div>
    <label for="{{ form_field.id_for_label }}" class="block text-sm mb-2 dark:text-white">
        {{ form_field.label}}
    </label>
    <div class="relative">
        <input
            type="{{ form_field.field.widget.input_type }}"
            id="{{ form_field.id_for_label }}"
            name="{{ form_field.name }}"
            class="py-3 px-4 block w-full border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600"
            {% if form_field.field.required %} required {% endif %}
        />
    </div>
    {% if form_field.errors %}
        <div class="my-4 bg-red-50 border border-red-200 text-sm text-red-800 rounded-lg p-4 dark:bg-red-800/10 dark:border-red-900 dark:text-red-500" role="alert" tabindex="-1" aria-labelledby="hs-with-list-label">
            <div class="flex">
                <div class="shrink-0">
                    <svg class="shrink-0 size-4 mt-0.5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <circle cx="12" cy="12" r="10"></circle>
                    <path d="m15 9-6 6"></path>
                    <path d="m9 9 6 6"></path>
                    </svg>
                </div>
                <div class="ms-4">
                    <h3 id="hs-with-list-label" class="text-sm font-semibold">
                    エラーが発生しました
                    </h3>
                    <div class="mt-2 text-sm text-red-700 dark:text-red-400">
                        <ul class="list-disc space-y-1 ps-5">
                            {% for error in form_field.errors %}
                            <li>
                            {{ error }}
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
</div>