<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>How to record a video with JavaScript</title>
</head>

<body>
    <div>
        <button type="button" id="buttonStart" style="width: 300px; height: 100px;">Start</button>
        <!-- <button type="button" id="buttonStop" style="width: 300px; height: 100px;" disabled>Stop</button> -->
        <div id="logText"></div>
    </div>
    <div>
        <video autoplay muted playsinline id="videoLive" style="width: 300px; height: 300px;"></video>
    </div>
    <div>
        <video controls playsinline id="videoRecorded" style="width: 300px; height: 300px;"></video>
    </div>

    <form id="uploadForm" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <!-- ファイル入力（非表示） -->
        <input type="file" id="videoFile" name="video_file" accept="video/*" style="display:none;">
        <input type="file" id="thumbnailFile" name="thumbnail_file" accept="image/*" style="display:none;">
        <!-- 位置情報入力（非表示） -->
        <input type="text" id="latitude" name="latitude" style="display:none;">
        <input type="text" id="longitude" name="longitude" style="display:none;">
        <!-- アップロードボタン（初期状態では無効化） -->
        <button type="button" id="uploadButton" style="width: 300px; height: 100px;" disabled>Upload Video</button>
    </form>

    <!-- サムネイル生成用のcanvas（非表示） -->
    <canvas id="thumbnailCanvas" style="display:none;"></canvas>


    <script>
        async function main() {
            // 各要素を取得
            const buttonStart = document.querySelector('#buttonStart')
            const videoLive = document.querySelector('#videoLive')
            const videoRecorded = document.querySelector('#videoRecorded')

            // formの要素
            const uploadForm = document.getElementById('uploadForm');
            const videoFileInput = document.getElementById('videoFile');
            const thumbnailFileInput = document.getElementById('thumbnailFile');
            const latitudeInput = document.getElementById('latitude');
            const longitudeInput = document.getElementById('longitude');
            const uploadButton = document.getElementById('uploadButton');

            // サムネイル生成用のcanvas
            const thumbnailCanvas = document.getElementById('thumbnailCanvas');


            const logText = document.querySelector('#logText')

            // カメラ映像を取得
            const stream = await navigator.mediaDevices.getUserMedia({
                video: {
                    width: { ideal: 720 },
                    height: { ideal: 720 },
                    facingMode: { exact: 'environment' },
                },
                audio: true,
            }).catch(error => {
                buttonStart.setAttribute('disabled', '')
                buttonStart.innerHTML = '要件を満たす動画撮影用デバイスを取得できませんでした'
                logText.textContent = error
            })

            // カメラ映像を表示
            videoLive.srcObject = stream

            // video/mp4がサポートされていない場合はエラーメッセージを表示
            if (!MediaRecorder.isTypeSupported('video/mp4')) {
                logText.textContent = 'video/mp4 is not supported'
            }

            // MediaRecorderを生成
            const mediaRecorder = new MediaRecorder(stream, {
                mimeType: 'video/mp4',
            })

            // uploadButtonを押したときの処理
            uploadButton.addEventListener('click', () => {
                if (!videoFileInput.files.length > 0  && !thumbnailFileInput.files.length > 0 && !latitudeInput.value && !longitudeInput.value) {
                    uploadForm.submit();
                } else {
                    logText.textContent += 'アップロードボタンが押されましたが，動画、サムネイル、位置情報のいずれかが取得できていません。もう一度録画してください。';
                    alert('動画、サムネイル、位置情報のいずれかが取得できていません。もう一度録画してください。');
                }
            })

            // 録画ボタンを押したときの処理
            buttonStart.addEventListener('click', () => {
                logText.textContent = 'click start button'
                mediaRecorder.start()
                buttonStart.setAttribute('disabled', '')
                logText.textContent += 'start recording'

                // 3秒後に録画を停止
                setTimeout(stopRecording, 3000);
            })


            // 録画を停止する関数
            function stopRecording() {
                mediaRecorder.stop()
                buttonStart.removeAttribute('disabled')
                logText.textContent = 'stop recording'
            }

            // 現在地を取得する関数
            function getCurrentPosition() {
                navigator.geolocation.getCurrentPosition((position) => {
                    logText.textContent += 'latitude: ' + position.coords.latitude + ', longitude: ' + position.coords.longitude;
                    latitudeInput.value = position.coords.latitude;
                    longitudeInput.value = position.coords.longitude;
                }, (error) => {
                    alert('位置情報を取得できませんでした。位置情報が必要です。');
                });
            }

            // 録画が終了したときの処理
            mediaRecorder.addEventListener('dataavailable', async event => {
                // 現在地を取得
                getCurrentPosition()

                logText.textContent += '現在地を取得しました。'

                const videoBlob = new Blob([event.data], { type: 'video/mp4' });
                const videoURL = URL.createObjectURL(videoBlob);
                
                // 録画した動画を表示
                videoRecorded.src = videoURL;

                logText.textContent += '録画した動画を表示しました。'

                // Create a thumbnail
                const thumbnailBlob = await createThumbnail(videoURL);

                logText.textContent += 'サムネイルを生成しました。'
                
                // Create files for form submission
                const videoFile = new File([videoBlob], 'recordedVideo.mp4', { type: 'video/mp4' });
                const thumbnailFile = new File([thumbnailBlob], 'thumbnail.png', { type: 'image/png' });
                
                logText.textContent += 'ファイルを生成しました。'

                // formにファイルをセット
                setFileInput(videoFileInput, videoFile);
                setFileInput(thumbnailFileInput, thumbnailFile);

                logText.textContent += 'ファイルをセットしました。'

                // アップロードボタンを有効化
                if (videoFileInput.files.length > 0 && thumbnailFileInput.files.length > 0 && latitudeInput.value && longitudeInput.value) {
                    uploadButton.removeAttribute('disabled');
                } else {
                    uploadButton.setAttribute('disabled', '');
                    logText.textContent += '動画、サムネイル、位置情報のいずれかが取得できていません。もう一度録画してください。';
                    alert('動画、サムネイル、位置情報のいずれかが取得できていません。もう一度録画してください。');
                }

                logText.textContent += 'アップロードボタンを有効化しました。'

            })
        }

        // formにファイルをセットする関数
        function setFileInput(fileInput, file) {
            const dataTransfer = new DataTransfer();
            dataTransfer.items.add(file);
            fileInput.files = dataTransfer.files;
        }

        // サムネイルを生成する関数
        async function createThumbnail(videoURL) {
            return new Promise((resolve, reject) => {
                const video = document.createElement('video');
                video.src = videoURL;
                video.addEventListener('loadeddata', () => {
                    const context = thumbnailCanvas.getContext('2d');
                    thumbnailCanvas.width = video.videoWidth;
                    thumbnailCanvas.height = video.videoHeight;
                    context.drawImage(video, 0, 0, thumbnailCanvas.width, thumbnailCanvas.height);
                    thumbnailCanvas.toBlob(blob => resolve(blob), 'image/png');
                });
                video.addEventListener('error', reject);
            });
        }



        main()
    </script>
</body>

</html>