{% extends 'base.html' %}
{% load static %}


{% block title %}
【Librite】
{% endblock title %}

{% block content %}
    <h2>{{ video.user.username }}'s Video</h2>
    <p>Uploaded at: {{ video.uploaded_at }}</p>
    <video style="width: 100%;" controls poster="{{ video.thumbnail_file.url }}">
        <source src="{{ video.video_file.url }}" type="video/mp4">
        Your browser does not support the video tag.
    </video>

    <a href="{% url 'posts:delete_video' video.id %}">Delete Video</a>

    <p><a href="{% url 'posts:video_map' %}">Back to Map</a></p>

    <a href="{% url 'posts:video_list' %}">Back to Video List</a>

{% endblock content %}

