{% extends 'base.html' %}
{% load static %}


{% block title %}
【Librite】
{% endblock title %}

{% block content %}
    <h2>Video List</h2>
    {% for video in videos %}
        <div>
            <video width="300" height="200" controls poster="{{ video.thumbnail_file.url }}">
                <source src="{{ video.video_file.url }}" type="video/mp4">
                Your browser does not support the video tag.
            </video>
            <p>{{ video.user.username }} - {{ video.uploaded_at }}</p>
        </div>
    {% endfor %}
{% endblock content %}

