{% extends 'base_v2.html' %} {% load static %}

<!--  -->

{% block title %}Librite List{% endblock title %}

<!--  -->

{% block extra_head %}
{% endblock extra_head %}

<!--  -->

{% block content %}

{% for video in videos %}
    <div class="max-w-xl mx-auto p-4 space-y-4">
        <!-- 投稿1 -->
        <div class="bg-white border rounded-lg shadow-sm">
            <!-- ヘッダー -->
            <a href="{% url 'users:profile' video.user.id %}">
                <div class="flex items-center p-4">
                    <img class="h-10 w-10 rounded-full" src="{{ video.user.avatar.url }}" alt="{{ video.user.username }}" />
                    <div class="ml-4">
                        <p class="font-semibold">{{ video.user.username }}</p>
                        <p class="text-gray-500 text-sm">{{ video.uploaded_at }}</p>
                    </div>
                </div>
            </a>
            <!-- 動画 -->
            <video width="100%" class="h-auto z-0" controls="" poster="{{ video.thumbnail_file.url }}">
                <source src="{{ video.video_file.url }}" type="video/mp4" />
                Your browser does not support the video tag.
            </video>
            <!-- アクションボタン -->
            <div class="flex items-center justify-between p-4">
                <div class="flex space-x-4">
                    <a href="{% url 'posts:video_map' %}" class="text-gray-500 hover:text-blue-500 focus:outline-none">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-map-2">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M12 18.5l-3 -1.5l-6 3v-13l6 -3l6 3l6 -3v7.5" />
                            <path d="M9 4v13" />
                            <path d="M15 7v5.5" />
                            <path d="M21.121 20.121a3 3 0 1 0 -4.242 0c.418 .419 1.125 1.045 2.121 1.879c1.051 -.89 1.759 -1.516 2.121 -1.879z" />
                            <path d="M19 18v.01" />
                        </svg>
                    </a>
                </div>
                <div class="hs-dropdown relative inline-flex">
                    <button id="hs-dropdown-custom-icon-trigger" class="text-gray-500 hover:text-blue-500 focus:outline-none">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-dots">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M5 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" />
                            <path d="M12 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" />
                            <path d="M19 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" />
                        </svg>
                    </button>

                    <div class="hs-dropdown-menu transition-[opacity,margin] duration hs-dropdown-open:opacity-100 opacity-0 hidden min-w-40 bg-white shadow-md rounded-lg p-2 mt-2 z-10" aria-labelledby="hs-dropdown-custom-icon-trigger">
                        <div class="py-2 first:pt-0 last:pb-0">
                            {% if request.user == video.user %}
                            <button type="button" class="memo-update-button flex items-center gap-x-3.5 py-2 px-3 w-full rounded-lg text-sm text-gray-800 hover:bg-gray-100 focus:outline-none focus:bg-gray-100"
                                data-hs-overlay="#detail-button-slide-up-animation-modal" data-video-id="{{ video.id }}" data-memo="{{ video.memo }}"
                                data-video-src="{{ video.video_file.url }}"
                                data-video-poster="{{ video.thumbnail_file.url }}">
                                <svg class="flex-shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-edit">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                    <path d="M7 7h-1a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-1" />
                                    <path d="M20.385 6.585a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3l8.385 -8.415z" />
                                    <path d="M16 5l3 3" />
                                </svg>
                                Edit
                            </button>
                            {% endif %}
                            <a class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm text-gray-800 hover:bg-gray-100 focus:outline-none focus:bg-gray-100" href="{% url 'posts:video_detail' video.id %}">
                                <svg class="flex-shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-big-right">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                    <path d="M4 9h8v-3.586a1 1 0 0 1 1.707 -.707l6.586 6.586a1 1 0 0 1 0 1.414l-6.586 6.586a1 1 0 0 1 -1.707 -.707v-3.586h-8a1 1 0 0 1 -1 -1v-4a1 1 0 0 1 1 -1z" />
                                </svg>
                                Detail
                            </a>
                            {% if request.user == video.user %}
                            <hr />
                            <a class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm text-red-600 hover:bg-gray-100 focus:outline-none focus:bg-gray-100" href="{% url 'posts:delete_video' video.id %}">
                                <svg class="flex-shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-trash">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                    <path d="M4 7l16 0" />
                                    <path d="M10 11l0 6" />
                                    <path d="M14 11l0 6" />
                                    <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" />
                                    <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" />
                                </svg>
                                Delete
                            </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <!-- キャプション -->
            <div class="p-4 pt-0 text-gray-500">
                <p id="memo-p-{{ video.id }}">{{ video.memo }}</p>
            </div>
        </div>
    </div>
{% endfor %}

<div class="h-28"></div>


<!-- ...を押した時のモーダル -->
<!-- <div id="detail-button-slide-up-animation-modal" class="hs-overlay hidden size-full fixed top-0 start-0 z-[80] overflow-x-hidden overflow-y-auto pointer-events-none">
    <div class="hs-overlay-open:mt-7 hs-overlay-open:opacity-100 hs-overlay-open:duration-500 mt-14 opacity-0 ease-out transition-all sm:max-w-lg sm:w-full m-3 sm:mx-auto">
        <form id="memoForm" method="POST">
            {% csrf_token %}
            <div class="flex flex-col bg-white border shadow-sm rounded-xl pointer-events-auto">
                <div class="flex justify-between items-center py-3 px-4 border-b">
                    <h3 class="font-bold text-gray-800">Update Memo</h3>
                    <button type="button" class="hs-dropup-toggle flex justify-center items-center size-7 text-sm font-semibold rounded-full border border-transparent text-gray-800 hover:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none" data-hs-overlay="#detail-button-slide-up-animation-modal">
                        <span class="sr-only">Close</span>
                        <svg class="flex-shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <path d="M18 6 6 18"></path>
                            <path d="m6 6 12 12"></path>
                        </svg>
                    </button>
                </div>
                <div class="p-4 overflow-y-auto">
                    <video width="100%" class="mb-2 h-auto rounded-xl z-0" controls="" poster="">
                        <source src="" type="video/mp4" />
                        Your browser does not support the video tag.
                    </video>
                </div>
                <div class="px-4 pb-4">
                    <div class="flex justify-between items-center mb-0">
                        <label for="hs-textarea-with-corner-hint" class="block text-sm font-medium mb-2">Memo</label>
                        <span class="block mb-2 text-sm text-gray-500">Max 100 characters</span>
                    </div>
                    <textarea name="memo" id="memoTextarea" class="py-3 px-4 block w-full bg-gray-100 border-transparent rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none" rows="3" placeholder="Write your memory"></textarea>
                </div>
                <div class="flex justify-end items-center gap-x-2 py-3 px-4 border-t">
                    <button type="button" class="hs-dropup-toggle py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none" data-hs-overlay="#detail-button-slide-up-animation-modal">Close</button>
                    <button type="submit" class="hs-dropup-toggle py-2 px-3 inline-flex items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent bg-blue-600 text-white hover:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none"  data-hs-overlay="#detail-button-slide-up-animation-modal">Save changes</button>
                </div>
            </div>
        </form>
    </div>
</div> -->
<div id="detail-button-slide-up-animation-modal" class="hs-overlay hidden size-full fixed top-0 start-0 z-[80] overflow-x-hidden overflow-y-auto pointer-events-none">
    <div class="hs-overlay-open:mt-7 hs-overlay-open:opacity-100 hs-overlay-open:duration-500 mt-14 opacity-0 ease-out transition-all sm:max-w-lg sm:w-full m-3 sm:mx-auto max-h-dvh">
        <form id="memoForm" method="POST" class="flex flex-col h-full">
            {% csrf_token %}
            <div class="flex flex-col bg-white border shadow-sm rounded-xl pointer-events-auto h-full">
                <div class="flex justify-between items-center py-3 px-4 border-b">
                    <h3 class="font-bold text-gray-800">Update Memo</h3>
                    <button type="button" class="hs-dropup-toggle flex justify-center items-center size-7 text-sm font-semibold rounded-full border border-transparent text-gray-800 hover:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none" data-hs-overlay="#detail-button-slide-up-animation-modal">
                        <span class="sr-only">Close</span>
                        <svg class="flex-shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <path d="M18 6 6 18"></path>
                            <path d="m6 6 12 12"></path>
                        </svg>
                    </button>
                </div>
                <div class="p-4 overflow-y-auto flex-grow">
                    <video width="100%" class="mb-2 h-auto rounded-xl z-0" controls="" poster="">
                        <source src="" type="video/mp4" />
                        Your browser does not support the video tag.
                    </video>
                

                    <div class="flex justify-between items-center mb-0 pt-4">
                        <label for="hs-textarea-with-corner-hint" class="block text-sm font-medium mb-2">Memo</label>
                        <span class="block mb-2 text-sm text-gray-500">Max 100 characters</span>
                    </div>
                    <textarea name="memo" id="memoTextarea" class="py-3 px-4 block w-full bg-gray-100 border-transparent rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none" rows="3" placeholder="Write your memory"></textarea>

                </div>

                <div class="flex justify-end items-center gap-x-2 py-3 px-4 border-t">
                    <button type="button" class="hs-dropup-toggle py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none" data-hs-overlay="#detail-button-slide-up-animation-modal">Close</button>
                    <button type="submit" class="hs-dropup-toggle py-2 px-3 inline-flex items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent bg-blue-600 text-white hover:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none"  data-hs-overlay="#detail-button-slide-up-animation-modal">Save changes</button>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- ...を押した時のモーダル -->





{% endblock content %}

<!--  -->

{% block extra_script %}

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const memoTextarea = document.getElementById('memoTextarea');
        const memoForm = document.getElementById('memoForm');
        let currentButton = null;

        // 各ボタンにイベントリスナーを追加
        document.querySelectorAll('.memo-update-button').forEach(button => {
            button.addEventListener('click', function() {
                currentButton = this;
                const videoId = this.getAttribute('data-video-id');
                const memo = this.getAttribute('data-memo');
                const videoSrc = this.getAttribute('data-video-src');
                const videoPoster = this.getAttribute('data-video-poster');

                // // モーダルのビデオを更新
                const video = memoForm.querySelector('video');
                video.src = videoSrc;
                video.poster = videoPoster;

                // フォームのアクションURLを動的に変更
                memoForm.action = `/update-video-memo/${videoId}/`;
                
                // テキストエリアに現在のメモをセット
                memoTextarea.value = memo;
            });
        });

        // フォームの送信イベントをハンドル
        memoForm.addEventListener('submit', function(event) {
            event.preventDefault();
            
            const formData = new FormData(memoForm);
            
            fetch(memoForm.action, {
                method: 'POST',
                body: formData,
                headers: {
                    'X-CSRFToken': memoForm.querySelector('[name=csrfmiddlewaretoken]').value
                }
            })
            .then(response => response.json())
            .then(data => {
                if (data.status === 'success') {
                    const memoP = document.getElementById(`memo-p-${data.video_id}`);
                    memoP.innerText = data.memo;
                    currentButton.setAttribute('data-memo', data.memo);
                }
            })
            .catch(error => console.error('Error:', error));
        });
    });
</script>

{% endblock extra_script %}
