{% extends 'base.html' %}
{% load static %}


{% block title %}
【orton】
{% endblock title %}

{% block extra_head %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <style>
        #map {
            height: 600px;
            width: 100%;
        }
        .thumbnail-popup img {
            max-width: 150px;
        }
        .avatar-marker img {
            border-radius: 50%;
            width: 40px;
            height: 40px;
        }
    </style>
{% endblock extra_head %}


{% block content %}
    <h2>Video Map</h2>
    <div id="map"></div>
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script>
        const map = L.map('map').setView([0, 0], 2);  // 地図の初期位置とズームレベルを設定

        // OpenStreetMapのタイルレイヤーを追加
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        // JSONデータを取得して地図上に表示
        fetch('/map/data/')
            .then(response => response.json())
            .then(videos => {
                videos.forEach(video => {
                    if (video.latitude && video.longitude) {
                        let marker;
                        const avatarIcon = L.icon({
                            iconUrl: video.avatar_url,
                            iconSize: [40, 40], // アバターアイコンのサイズ
                            className: 'avatar-marker'
                        });
                        marker = L.marker([video.latitude, video.longitude], { icon: avatarIcon }).addTo(map);

                        const popupContent = `
                            <div class="thumbnail-popup">
                                <img src="${video.thumbnail_url}" alt="Thumbnail">
                                <p>${video.username}</p>
                                <p>${video.uploaded_at}</p>
                                <a href="/video/${video.id}/">View Video</a>
                            </div>
                        `;
                        marker.bindPopup(popupContent);
                    }
                });
            });
    </script>
{% endblock content %}

