{% extends 'base.html' %}
{% load static %}


{% block title %}
【Librite】
{% endblock title %}

{% block content %}
    <h2>{{ video.user.username }}'s Video</h2>
    <p>Uploaded at: {{ video.uploaded_at }}</p>
    <video style="width: 100%;" controls poster="{{ video.thumbnail_file.url }}">
        <source src="{{ video.video_file.url }}" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    <p><a href="{% url 'posts:video_map' %}">Back to Map</a></p>
{% endblock content %}

